body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    color: #333;
}

header {
    background-color: #4914db;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    font-size: 2rem;
}

main {
    max-width: 600px;
    margin: 40px auto;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    text-align: center;
}

p {
    font-size: 1.2rem;
    margin-bottom: 30px;
}

button {
    display: block;
    width: 90%;
    max-width: 300px;
    margin: 15px auto;
    padding: 15px;
    background-color: #4914db;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #3711a3;
}
