body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
    padding: 20px;
    text-align: center;
}

h2 {
    color: #003366;
}

button {
    display: block;
    width: 80%;
    margin: 10px auto;
    padding: 15px;
    font-size: 18px;
    background-color: #0056b3;
    color: white;
    border: none;
    border-radius: 6px;
}

button:hover {
    background-color: #003f80;
}

#btn-whatsapp { background-color: #25d366; }
#btn-whatsapp:hover { background-color: #1aa84d; }

#btn-salir { background-color: #555; }
#btn-salir:hover { background-color: #333; }
