/* styles.css */

/* Botones */
button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button#btn-corregir {
    background-color: #28a745;
}

button#btn-corregir:hover {
    background-color: #218838;
}

button#btn-retroalimentar {
    background-color: #dc3545;
}

button#btn-retroalimentar:hover {
    background-color: #c82333;
}
